.col-4 {
	background-color: #36454f;
	width: 70%;
}
.col-8 {
	
}
#sample {
	color: white;
	font-size: 60px;
	text-align: right;
	text-indent: 50px;
	padding-top: 80px;
}
#blogLayout {
	padding-top: 20px;
	padding-left: 30px;
	font-size: 40px;
	color: #808080;
	padding-bottom: 20px;
}
#pure {
	background-color: #36454f;
	border-color: white;
	border: solid;
	font-size: 24px;
	color: white;
	text-align: center;
	margin-right: 5px;
	margin-left: 100px;
}
#yui {
	background-color: #36454f;
	border-color: white;
	border: solid;
	font-size: 24px;
	color: white; 
	text-align: center;
}
#post1 {
	color: #ABB2B9;
}
#cButton {
	background-color: #7FFF00;
	text-align: center;
	border-color: #7FFF00;
	color: white;
}
#pButton {
	background-color: 	#4169E1;
	text-align: center;
	border-color: 	#4169E1;
	color: white;
}
#post2 {
	color: #ABB2B9;
}
#jButton {
	background-color: #FF0000;
	text-align: center;
	border-color: #FF0000;
	color: white;	
}
