#box {
	border-style: solid; 
	width: 800px;
	border-color: orange;
}
#PersonalDetails {
	padding-left: 20px;
	justify-content: space-between;
}
#Education {
	padding-left: 20px;
}
#OthersSkills {
	padding-left: 20px;
}
#WorkingExp {
	padding-left: 20px;
}
#OrgExp {
	padding-left: 20px;
}
