* {
	box-sizing: border-box;
	overflow-x:  hidden;
}
.upper-div{
	position: relative;
	height: 100px;
	background-color: #2874A6;
}
.img-fb {
	position: absolute;
	top: 15px;
	left: 100px;
}
.h-center {
	position: absolute;
	left: 150px;
	top: 30px;
	cursor : pointer;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFFFF;
}
.search-bar {
	position: absolute;
	left: 270px;
	top: 25px;
	width: 55%; 
	background-image: url("C:/Users/Ayushi Rai/Desktop/Backup/Test/Image/Search.png");
    background-position: 10px 7px;
    background-size: 14px 14px;
    background-repeat: no-repeat;
	border: none;
	font-size: 16px;
	padding: 5px 0px 5px 36px;
	background-color: #1B4F72;
	color: #FFFFFFFF;
}
.login-btn {
	position: absolute;
	right: 200px;
	top: 25px;
	font-size: 12px;
	padding: 5px 5px 5px 5px;
	border: none;
	cursor: pointer;
	color: #FFFF;
	background-color: #2874A6;
}
.login-btn:hover{
	background-color: #1F618D;
	color: #FFFF;
}
.account-btn {
	position: absolute;
	right: 80px;
	top: 25px;
	font-size: 12px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	padding: 5px 5px 5px 5px;
	color: #FFFF;
	background-color: #28B463;
}
.account-btn:hover{
	background-color: #1E8449;
	color: #FFFF;
}
.nav-bar {
	position: relative;
	top:70px;
	left: 100px;
}
.nav-bar a {
	color: #D0D3D4;
	text-decoration: none;
	padding: 10px 10px 10px 10px; 
}
.nav-bar a:hover {
	color: #FFFFFFFF;
}
.div-mid1 {
	background-color: #D6EAF8;
}
.div-mid1 h2 {
	padding:  20px 5px 5px 100px;
	font-size:  30px;
}
.div-mid1 img {
	position: relative;
	right: 150px;
	top : 50px;
	float: right;
	padding: 40px 90px 10px 0px;
	width: 480px;
	height: 280px;
}
.div-mid1 li{
	position: relative;
	left :200px;
	width: 40%;
	cursor: pointer;
	font-weight: bold;
	padding: 10px 10px 10px 10px;
	margin: 15px 15px;
	color: #FFFF;
	border-radius: 30px;
	background-color: #2874A6;
}
.div-mid1 ol{
	left : 100px;
}
.div-mid1 li:hover {
	background-color: #1B4F72;
}
.div-mid2 h2 {
	padding:  20px 5px 20px 100px;
	font-size:  30px;
}
.div-mid2 table {
	margin: auto;
	width: 60%;
	border: 1px solid #808B96;
	font-size: 12px;
	padding: 10px 10px 10px 10px;
}
.div-mid2 td{
	width: 25%;
	cursor: pointer;
	border-right: 1px solid #808B96;
	padding: 20px 20px 20px 20px;
}
.div-mid2 td:hover {
	background-color: #EBEDEF;
}
.div-mid2 a{
	text-decoration: none; 
	font-weight: bold;
	padding-left: 10px;
}
.b-title {
	font-size: 16px;
	font-weight: bold;
	padding: 5px 5px 5px 5px;
}
.content {
	font-size: 14px;
	padding: 5px 5px 5px 5px;
	color: #5D6D7E;	
}
.div-mid3 h2 {
	text-align: center;
	padding:  70px 0px 20px 0px;
	font-size:  30px;	
}
.div-mid3  p{
	text-align: center;
	font-size: 14px;
	color: #5D6D7E;	 
}
.div-mid4 table{
	padding-top: 50px;
	margin: auto;
}
.div-mid4 button{
	margin-left: 30px;
	width : 70%;
	border: #ABB2B9;
	padding: 10px 20px 10px 20px;
}
.div-mid4 p {
	text-align: center;
	font-size: 14px;
	color: #5D6D7E;	 
	padding: 5px 5px 5px 5px;
}
footer ul {
	margin-top: 40px;
	margin-left: 100px;
}
footer li{
	position: relative;
	left: 150px;
	display: inline-block; 
	padding: 5px 5px 5px 5px;
}
footer table {
	position: relative;
	left: 100px;
	margin-top: 10px;  
}
footer td{
	position: relative;
	left: 150px;
	padding : 5px 30px 5px 30px;
}
.fb {
	display: inline-block;
	float: right;
	color: #5D6D7E;
}
footer a {
	text-decoration: none;
	color: #5D6D7E;
}