.main {
	border: 3px solid;
	width: 80%;
	margin: auto;
	font-family: cursive;
}
.div-img {
	margin: auto;
	width: 80%;
}
#headerImg {
	display: block;
	width: 100px;
	height: 100px;
	padding: 5px;
}
#heading {
	font-size: 32px;
	display: inline-block; 
	margin: 0px;
	position: relative;
	left: 20px;
}
.nav-link {
	text-align: center;
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.div-links {
	text-align: center;
}
a {
	padding: 20px 20px 20px 20px;
	font-size: 20px;
}
input {
	margin-right: 10px;
	float: right;
	border-radius: 10px;
}
.box {
	border: 3px solid;
	width: 90%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
}
.box-left {
	border: 3px solid;
	width: 55%;
	display: inline-block;
	position: relative;
	top: 5px;
	left: 10px;	
	margin-bottom: 20px;
	margin-top: 10px;
}
#Nat-Services {
	text-align: center;
	font-size: 20px;
	padding: 2px 2px 2px 2px;
}
.box-left-img {
	padding: 10px 10px 10px 10px;
	width:200px; 
	height : 100px;
}
.box-left-link {
	margin: auto;
	padding-bottom: 20px;
	display: block;
}
.box-right {
	border: 3px solid;
	width: 40%;
	display: inline-block;
	float: right;
	position: absolute;
	padding-bottom: 90px;
	top: 5px;
	right: 10px;
	margin-top: 10px;
	margin-bottom: 20px;	
}
.address-info {
	border: 3px solid;
	width: 90%;
	margin: 20px 5px 20px 5px;
	padding: 5px 5px 5px 5px;
}
.address-heading {
	font-weight: bold;
	margin-bottom: 10px;
}
.social-media {
	border: 3px solid;
	width: 90%;
	margin: auto;
}
.social-media-heading {
	font-size: 18px;
	padding: 10px 5px 10px 5px;
} 
.media-div {
	border: 3px solid;
	display: inline-block;
	padding: 5px 5px 20px 5px;
	width: 40%;
	margin: 5px 5px 20px 5px;
}
.media-div-right {
	border: 3px solid;
	display: inline-block;
	margin-top: 0px; 
	padding: 5px 5px 20px 5px;
	width: 40%;
	margin: 5px 5px 20px 5px;
	float: right;
}