* {
	font-family: "Open Sans", sans-serif; 
	font-weight: bold;
}
.heading {
	height: 20%;
	border: 3px solid;
	margin: 20px 20px 10px 20px;
	border-radius: 10px;
	text-align: center;
}

#logo {
	background-image: url("C:/Users/Ayushi Rai/Desktop/Backup/Session5/Task8.1/Image/Osmosys.png");	
	display: block;
	width: 200px;
	height: 200px;
}
#CName {
	font-weight: bolder;
	font-size: 30px;
	display: inline-block;
	position: relative;
	top: 20px;
	left:200px;
}

.left-col {
	width: 35%;
	height: 100%;
	border: 3px solid;
	border-radius: 5px;
	float: left;
	position: relative;
	left: 10px;
	top: 15px;
	right: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.links {
	padding: 40px 40px 40px 40px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

.right-col {
	width: 60%;
	border: 3px dashed;
	border-radius: 5px;
	float: right;
	position: relative;
	right: 10px;
	top: 15px;	
	overflow: scroll;
	height: 410px;
}

#intro {
	font-weight: bolder;
	text-align: center;
	font-size: 26px;
	padding: 20px 20px 20px 20px;
}

.para {
	padding: 10px 10px 10px 10px;
	font-weight: bold;
}

#initials {
	font-size: 20px;
	font-weight: bolder;
}

.luctus {
	color: red;
}