.div-img {
	background-color:  #3c2263;
}
.grid-container {
	border: 1px solid #808B96;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	gap: 38px 33px;
  	border : 5px;
	height : 600px;
	padding : 20px 20px;
	grid-template-areas: "div-1 div-1 div-1 div-1" "div-2 div-3 div-4 div-5" " div-6 div-6 div-7 div-8" "div-6 div-6 div-9 div-10" "div-11 div-11 div-11 div-11";
}
.div-1 {
	grid-area: div-1;
	background-color: #FFFFFFFF;
	padding : 20px 20px;
	border : 1px solid #808B96;
}
.div-2 {
	grid-area: div-2;
	background-color: #FFFFFFFF;
	padding : 20px 20px;
	border : 1px solid #808B96;
}
.div-3 {
	grid-area: div-3;
	background-color: #FFFFFFFF;
	padding : 20px 20px;
	border : 1px solid #808B96;
}
.div-4 {
	grid-area: div-4;
	background-color: #FFFFFFFF;
	padding : 20px 20px;
	border : 1px solid #808B96;
}
.div-5 {
	grid-area: div-5;
	background-color: #FFFFFFFF;
	padding : 20px 20px;
	border : 1px solid #808B96;
}
.div-6 {
	grid-area: div-6;
	background-color: #FFFFFFFF;
	padding : 20px 20px;
	border : 1px solid #808B96;
}
.div-7 {
	grid-area: div-7;
	background-color: #FFFFFFFF;
	padding : 20px 20px;
	border : 1px solid #808B96;
}
.div-8 {
	grid-area: div-8;
	background-color: #FFFFFFFF;
	padding : 20px 20px;
	border : 1px solid #808B96;
}
.div-9 {
	grid-area: div-9;
	background-color: #FFFFFFFF;
	padding : 20px 20px;
	border : 1px solid #808B96;
}
.div-10 {
	grid-area: div-10;
	background-color: #FFFFFFFF;
	padding : 20px 20px;
	border : 1px solid #808B96;
}
.div-11 {
	grid-area: div-11;
	background-color: #FFFFFFFF;
	padding : 20px 20px;
	border : 1px solid #808B96;
}
