#heading {
	margin-left: 130px;
	width: 80%;
	background-color: #5DADE2;
	padding: 20px 20px 20px 20px;
}
#Products:hover .p-class {
	display: block;	
}
#main {
	width: 80%;
	height: 100%;
	margin-left: 130px;
	margin-top: 20px; 
	background-color: #8E44AD;	
	padding: 20px 20px 20px 20px;
}
nav {
	text-align: center;
	font-size: 26px;
	font-weight: bold; 
}
a {
	margin-right: 10px;
	margin-left: 10px;
}
.div-img {
	background-image: url("C:/Users/Ayushi Rai/Desktop/Backup/Session5/Task8.2/Image/Product.jpg");
	width: 275px;
	height: 183px;
	float: left;
	display: block;
	margin: 20px 40px 20px 40px;
}

.para {
	padding: 10px 30px 10px 10px;
	font-weight: bold;
	color: #FFFFFF;
	display: block;
}

#initials {
	font-size: 20px;
	font-weight: bolder;
}

.luctus {
	color: red;
}
.div-footer {
	padding: 10px 30px 10px 10px;
	font-weight: bold;
	color: #FFFFFF;
}