.part-1 {
	background-color: #AED6F1;
}
.site {
	font-size: 32px;
	font-family: "New Times Roman";
	font-weight: bold;
	padding: 30px 0px 30px 30px;
}
.container {
	background-color: #82E0AA;
	width: 70%;
	display: inline-block;
}
.container-1 {
	padding: 30px 30px 30px 30px;
}
.titles {
	font-size: 32px;
	font-family: "New Times Roman";
	font-weight: bold;
	padding: 30px 0px 30px 30px;
}
.box {
	border: 1px solid #FFFFFFFF;
	background-color: #FFFFFFFF;
}
.para {
	padding: 30px 30px 30px 30px;
}
.container-3 {
	background-color: #FF61D9;
	width: 30%;
	float: right;
	display: inline-block;
	position: relative;
	left: 0px;
	top: 0px; 
	padding-bottom: 55px;
}
.Module {
	font-size: 32px;
	font-family: "New Times Roman";
	font-weight: bold;
	padding: 30px 0px 30px 30px;	
}