*{
	box-sizing: border-box;
}
.timer, .score {
	display: inline-block;
	width: 49%;
	text-align: center;
}
.red-circle {
    background-color: #ff0000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.violet-circle {
    background-color: violet;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.green-circle {
    background-color: #00ff00;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.yellow-circle {
    background-color: yellow;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.blue-circle {
    background-color: #0000ff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}