*{
	box-sizing: border-box;
}
h1 {
	text-align: center;
}
input, textarea, select {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input {
    width: 30%;
    padding: 5px;
}
select {
    width: 30%;
    padding: 7px 0;
    background: transparent;
}
textarea {
    width: 60%;
    padding: 5px;
}
.btn-block {
    margin-top: 10px;
    text-align: center;
}
.submit-btn {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background: #095484;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}